<p id="notice"><%= notice %></p>

<h1>Credential Keys</h1>

<table>
  <thead>
    <tr>
      <th>Credential</th>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credential_keys.each do |credential_key| %>
      <tr>
        <td><%= credential_key.credential %></td>
        <td><%= credential_key.key %></td>
        <td><%= credential_key.value %></td>
        <td><%= link_to 'Show', credential_key %></td>
        <td><%= link_to 'Edit', edit_credential_key_path(credential_key) %></td>
        <td><%= link_to 'Destroy', credential_key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credential Key', new_credential_key_path %>
