<%= content_for :header, 'Projects' %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="float-left">
          <h4 class="card-title">All Projects</h4>
        </div>
        <div class="float-right">
          <%= link_to '+ New Project', new_project_path, class: "btn btn-primary btn-block" %>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Name
              </th>
              <th>
                Project
              </th>
              <th class="text-right">
                Actions
              </th>
            </thead>
            <tbody>
              <% @projects.each do |project| %>
              <tr>
                <td>
                  <%= project.name %>
                </td>
                <td>
                  <%= project.project_id %>
                </td>
                <td class="text-right">
                  <%= link_to 'Show', project %> |
                  <%= link_to 'Edit', edit_project_path(project) %> |
                  <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
