<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project.project_id %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @project.project_environments.each do |project_environment| %>
    <tr>
      <td><%= project_environment.name %></td>
      <td><%= link_to 'View', project_environment %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render 'project_environments/form', project_environment: @project_environment %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
