<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credential.name %>
</p>

<p>
  <strong>Project environment:</strong>
  <%= @credential.project_environment %>
</p>

<p>
  <strong>Provider name:</strong>
  <%= @credential.provider_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @credential.URL %>
</p>

<p>
  <strong>Role:</strong>
  <%= @credential.role %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
