<!DOCTYPE html>
<html>
  <head>
    <title>ProjectCollab</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= custom_bootstrap_flash %>
    <% if content_for?(:errors) %>
      <%= alert_box(content_for(:errors), 'alert-danger', false) %>
    <% end %>
    <div class="wrapper ">
      <%= render '/layouts/sidebar' %>
      <div class="main-panel" id="main-panel">
        <%= render '/layouts/header' %>
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
          <%= yield %>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav>
              <ul>
                <li>
                  <a href="https://www.creative-tim.com">
                    Creative Tim
                  </a>
                </li>
                <li>
                  <a href="http://presentation.creative-tim.com">
                    About Us
                  </a>
                </li>
                <li>
                  <a href="http://blog.creative-tim.com">
                    Blog
                  </a>
                </li>
              </ul>
            </nav>
            <div class="copyright" id="copyright">
              &copy;
              <script>
                document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
              </script>, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
